<div class="map-container">
    <ui-gmap-google-map center="$ctrl.location || $ctrl.map.center"
                        events="$ctrl.map.events"
                        zoom="$ctrl.map.zoom"
                        control="$ctrl.map.control"
                        options="$ctrl.map.options">
        <ui-gmap-polygon static="true"
                         ng-repeat="p in $ctrl.poly track by p.id"
                         path="p.path"
                         stroke="p.stroke"
                         visible="p.visible"
                         geodesic="p.geodesic"
                         fill="p.fill"
                         fit="false"
                         editable="p.editable"
                         events="p.events">
        </ui-gmap-polygon>
    </ui-gmap-google-map>
    <ui-view></ui-view>
</div>

