//TODO sass/css, next lines can be needed for release/publish
//noinspection CssUnknownTarget
//@import "{}/client/styles/imports/bootstrap/var";
//noinspection CssUnknownTarget
//@import "{}/client/styles/_test1";

/*-----------------------------------
	        Imports
-----------------------------------*/
@import "imports/styles/frameworks";

/*-----------------------------------
	     General Styles
-----------------------------------*/

body {
  padding-top: 50px;
  background-color: #f2f6f9;
}

.angular-google-map-container {
  height: 400px;
  width: 400px;
}

// Fix issue with angular-bootstrap datepicker popup
// Found at https://github.com/angular-ui/bootstrap/issues/2475#issuecomment-49469969
.glyphicon {
  @extend .fa;
  &.glyphicon-chevron-right {
    @extend .fa-chevron-right;
  }
  &.glyphicon-chevron-left {
    @extend .fa-chevron-left;
  }
}