<div class="modal-header">
    <button type="button" class="close" data-ng-click="ctrl.dismiss()" aria-label="Luk">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" id="modal-title">Find your classroom</h3>
</div>
<div class="modal-body" id="modal-body">
    <!--<p>Model: {{ctrl.selectedClass | json}}</p>-->
    <!--<p>getClasses(): {{ctrl.getClasses() | json}}</p>-->

    <form>
        <div class="form-group">
            <label for="className">Classname:</label>
            <input type="text" class="form-control" id="className" autocomplete="off" ng-model="selectedClass"
                   uib-typeahead="e as e._id for e in ctrl.getClasses | filter:$viewValue | limitTo:8">
        </div>
        <div class="form-group">
            <label for="txtDate">Date:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="txtDate"
                       uib-datepicker-popup ng-model="ctrl.txtDate" is-open="ctrl.datePopup.opened"
                       datepicker-options="ctrl.dateOptions"
                       ng-required="true" close-text="Close" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="ctrl.openDatePopup()">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" data-ng-click="ctrl.find()">Find</button>
</div>